# Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# DuckDB files
*.duckdb
*.db
*.wal

# IDEs and environments
.vscode/
.idea/
.env

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/
